:root {
  background-color: #242424;
  color: white;
  height: 100%;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.left-side {
  background-color: green;
  display: flex;
  flex-grow: 0;
  flex-basis: 20rem;
  flex-shrink: 0;
}

.right-side {
background-color: red;
display: flex;
flex-grow: 0.7;
}

